* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

span a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 400;
}
.play {
  padding: 25px;
  background-color: #212529;
  width: 100%;
  height: 80px;
}

.play .slick-next {
  position: absolute !important;
  top: 50% !important;
  display: block !important;
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  background-color: #212529 !important;
}
.play.slick-prev {
  position: absolute !important;
  top: 50% !important;
  display: block !important;
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  background-color: #212529 !important;
}
