@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");

.diss {
  height: 450px;
  padding: 100px;
  background: url(../../assets//images/Phase1-glob.png) no-repeat;
}
.glo {
  text-align: center;
}

.diss h1 {
  font-size: 55px;
  font-family: "Saira Condensed";
  line-height: 60px;
  font-weight: 400;
}

.diss p {
  font-size: 20px;
  font-family: "Manrope";
  color: #000000;
  font-weight: 600;
  line-height: 35px;
}

.diss b {
  color: #cc0000;
}
.glo button {
  height: 40px;
  width: 250px;
  border-color: black;
  color: black;
}
.glo button:hover {
  background-color: #cc0000;
  color: white;
  border-color: #cc0000;
}
