* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.offering {
  background-color: black;
  color: aliceblue;
  height: 870px;
}
.container div {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 10px;
  margin-left: 10px;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

/*.mem {
  display: grid;
  grid-template-columns: auto auto auto;

  margin-top: 40px;
  background-color: black;
}
.mem div {
  width: 350px;
  height: 250px;
  border-radius: 30px;
  text-align: center;
}*/
.offering h1 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  justify-content: center;
  font-family: "Saira Condensed", sans-serif;
  font-size: 38px;
  font-weight: 900;
}
.view {
  width: 180px;
  height: 50px;
  margin-left: 45%;
  margin-top: 50px;
  color: white;
  border-color: aliceblue;
  background-color: black;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 500;
}

button:hover {
  background-color: #cc0000;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 700;
}
/*.con-one img {
  width: 350px;
  height: 250px;
}
.con-two img {
  width: 350px;
  height: 250px;
}
.con-three img {
  width: 350px;
  height: 250px;
}
.con-four img {
  width: 350px;
  height: 250px;
}
.con-five img {
  width: 350px;
  height: 250px;
}
.con-six img {
  width: 350px;
  height: 250px;
}
@media (max-width: 480px) {
  .mem {
    display: grid;
    grid-template-rows: auto;
  }
}
@media (max-width: 780px) {
  .mem {
    display: grid;
    grid-template-rows: auto auto;
  }
}*/
.container {
  background-color: black;
}
.img-area {
  color: #fff;
  position: relative;
}
.img-area img {
  width: 350px;
  height: 250px;
}
.img-text,
.img-area:after {
  width: 97%;
  position: absolute;
  left: 0;
}
.img-area:after {
  content: "";
  height: 100%;
  top: 0;
  transition: 0.5s;
}
.img-area:hover:after {
  background-color: rgba(128, 128, 128, 0.13);
  border-radius: 15px;
}
.img-text {
  padding: 50px;
  margin-bottom: 100px;
  bottom: 0;
  z-index: 1;
  transform: translateY(145px);
  transition: all 1.5s cubic-bezier(0.13, 0.62, 0.81, 0.91) 0s;
}
.img-area:hover .img-text {
  transform: translateY(0);
}
.offering h6 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 50;
}
.offering h2 {
  font-size: 20px;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 900;
}
