@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rectangle {
  background-color: #222222;
  transition: 0.3s ease-in-out;
  margin: 50px 150px;
  height: 450px;
  display: flex;
  flex-direction: row;
  background: #222222 url(../../assets//images/rec.png) no-repeat right -80px;
}

.text_s {
  color: white;
  padding: 40px;
}

.text_s h2 {
  font-size: 50px;
  font-family: "Saira Condensed";
}
.text_s p {
  font-size: 18px;
  font-family: "Manrope";
  line-height: 25px;
  color: #797979;
  font-weight: 600;
}
.text_s a {
  color: red;
  text-decoration: none;
  font-family: "Manrope";
}
.text_s b {
  color: #ffffff;
  font-size: 18px;
  font-family: "Manrope";
}

.rectangle :hover {
  transform: translateY(-15px);
  color: #ffffff;
}
